.main-container{
    position: relative;
    width: 280px;
    height: 320px;
    /* background: green; */
    margin: auto;
    margin-top: 200px;

}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: yellow; */
    transform-style: preserve-3d;
    transition: all 1s ease ;
}
.card:hover{
    transform: rotateY(180deg);
}
.cardfront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(12, 12, 97);;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.cardback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: lightgray;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}


.fa-solid{
    
    color: #19A3F2;
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
    width: 60px; 
    background-color: #193F63;
    margin: 50px 50px 20px 50px;
    

    }
h2{
    text-align: center;
    color: White;
    font-size: 30px;
    
}
.cardback p{
    padding: 20px;
    margin: 20px;
    color: rgb(12, 12, 97);
}

